:root {
    --scaffold-layout-gutter: 1.2rem;
    --scaffold-layout-none-max-width: 576px;
    --scaffold-layout-md-max-width: 720px;
    --scaffold-layout-lg-max-width: 960px;
    --scaffold-layout-xl-max-width: 1128px;
}

.app{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.app__body,.header{
    display: flex;
    width: 100%;
    margin: 25px auto;
}
@media screen and (min-width: 768px){
    .app__body,.header {
        max-width: unset;
        width: var(--scaffold-layout-md-max-width);
    }
}

@media screen and (min-width: 992px){
    .app__body,.header {
        width: var(--scaffold-layout-lg-max-width);
    }
}

@media screen and (min-width: 1200px){
    .app__body,.header{
        width: var(--scaffold-layout-xl-max-width);
    }
}

button{
    cursor: pointer;
}